{% extends 'dashboard.html' %}
{% block content %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit income</title>
</head>
<body>
            <div class="container-xxl flex-grow-1 container-p-y">
<div class="card">
                <h5 class="card-header">Your Commitments</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table table-dark">
                    <thead>
                      <tr>
                          <th>Title</th>
                        <th>Amount</th>
                        <th>Due date</th>
                        <th>Is recurring</th>
                        <th>Note</th>
                        <th>Mark payment</th>

                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                    {% for i in commitments %}
                      <tr>
                          <td>{{i.title}}</td>
                          <td>{{i.amount}}</td>
                          <td>{% if i.is_overdue %}
                              <span class="badge bg-danger fw-bold">{{ i.due_day }} (Overdue)</span>
                          {% else %}
                              <p>{{i.due_day}}</p>

                              {% endif %}
                          </td>
                          <td>{{i.is_recurring}}</td>
                          <td>{{i.note}}</td>


                          {% if i.is_overdue %}
                          <td><a href="{% url 'mark_commitment_paid' i.id %}" class="btn btn-danger">Mark as paid</a></td>

                          {% elif not i.is_paid_this_month %}
                          <td><a href="{% url 'mark_commitment_paid' i.id %}" class="btn btn-outline-warning">Mark as paid</a></td>

                          {% else %}

                          <td><a href="#" class="btn btn-success "> paid</a></td>

                          {% endif %}


                          </td>


                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>

                </div>
              </div>
  </div>

</body>
</html>
{% endblock %}